<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Users - MovieWeb App</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body  >
<h1>Users</h1>

    <form action="/users/<user_id>/add_movie" method="post">

        <label for="name">Movie Name:</label>

        <input type="text" value="movie name" id="name" required>

        <input type="submit" value="Submit">


    </form>




</body>
</html>