<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Users - MovieWeb App</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body >
<h1 style="text-align:center">MovieWeb App</h1>



<h3>Users:</h3>
    <ul>

       {%  for  user in users %}
        <li>{{user}} ~ <a href="http://127.0.0.1:5000/users/{{user_id_list[users.index(user)] }}">Favourite movies</a></li>

        <span>
            <form action="/delete_user/{{user_id_list[users.index(user)] }}" >
            <input style="background-color:light grey; color:red;" type="Submit" value="Delete user">
        </form>
        </span>

        {% endfor %}
    </ul>



    <form action="/add_user" >

     <input style="background-color:light grey; color:green;" type="Submit" value="Add User">

     </form>

</body>
</html>